# Candidate ReRank Model using Handcrafted Rules
In this notebook, we present a "candidate rerank" model using handcrafted rules. We can improve this model by engineering features, merging them unto items and users, and training a reranker model (such as XGB) to choose our final 20. Furthermore to tune and improve this notebook, we should build a local CV scheme to experiment new logic and/or models.

UPDATE: I published a notebook to compute validation score [here][10] using Radek's scheme described [here][11].

Note in this competition, a "session" actually means a unique "user". So our task is to predict what each of the `1,671,803` test "users" (i.e. "sessions") will do in the future. For each test "user" (i.e. "session") we must predict what they will `click`, `cart`, and `order` during the remainder of the week long test period.

### Step 1 - Generate Candidates
For each test user, we generate possible choices, i.e. candidates. In this notebook, we generate candidates from 5 sources:
* User history of clicks, carts, orders
* Most popular 20 clicks, carts, orders during test week
* Co-visitation matrix of click/cart/order to cart/order with type weighting
* Co-visitation matrix of cart/order to cart/order called buy2buy
* Co-visitation matrix of click/cart/order to clicks with time weighting

### Step 2 - ReRank and Choose 20
Given the list of candidates, we must select 20 to be our predictions. In this notebook, we do this with a set of handcrafted rules. We can improve our predictions by training an XGBoost model to select for us. Our handcrafted rules give priority to:
* Most recent previously visited items
* Items previously visited multiple times
* Items previously in cart or order
* Co-visitation matrix of cart/order to cart/order
* Current popular items

![](https://raw.githubusercontent.com/cdeotte/Kaggle_Images/main/Nov-2022/c_r_model.png)
  
# Credits
We thank many Kagglers who have shared ideas. We use co-visitation matrix idea from Vladimir [here][1]. We use groupby sort logic from Sinan in comment section [here][4]. We use duplicate prediction removal logic from Radek [here][5]. We use multiple visit logic from Pietro [here][2]. We use type weighting logic from Ingvaras [here][3]. We use leaky test data from my previous notebook [here][4]. And some ideas may have originated from Tawara [here][6] and KJ [here][7]. We use Colum2131's parquets [here][8]. Above image is from Ravi's discussion about candidate rerank models [here][9]

[1]: https://www.kaggle.com/code/vslaykovsky/co-visitation-matrix
[2]: https://www.kaggle.com/code/pietromaldini1/multiple-clicks-vs-latest-items
[3]: https://www.kaggle.com/code/ingvarasgalinskas/item-type-vs-multiple-clicks-vs-latest-items
[4]: https://www.kaggle.com/code/cdeotte/test-data-leak-lb-boost
[5]: https://www.kaggle.com/code/radek1/co-visitation-matrix-simplified-imprvd-logic
[6]: https://www.kaggle.com/code/ttahara/otto-mors-aid-frequency-baseline
[7]: https://www.kaggle.com/code/whitelily/co-occurrence-baseline
[8]: https://www.kaggle.com/datasets/columbia2131/otto-chunk-data-inparquet-format
[9]: https://www.kaggle.com/competitions/otto-recommender-system/discussion/364721
[10]: https://www.kaggle.com/cdeotte/compute-validation-score-cv-564
[11]: https://www.kaggle.com/competitions/otto-recommender-system/discussion/364991

# Notes
Below are notes about versions:
* **Version 1 LB 0.573** Uses popular ideas from public notebooks and adds additional co-visitation matrices and additional logic. Has CV `0.563`. See validation notebook version 2 [here][1].
* **Version 2 LB 573** Refactor logic for `suggest_buys(df)` to make it clear how new co-visitation matrices are reranking the candidates by adding to candidate weights. Also new logic boosts CV by `+0.0003`. Also LB is slightly better too. See validation notebook version 3 [here][1]
* **Version 3** is the same as version 2 but 1.5x faster co-visitation matrix computation!
* **Version 4 LB 575** Use top20 for clicks and top15 for carts and buys (instead of top40 and top40). This boosts CV `+0.0015` hooray! New CV is `0.5647`. See validation version 5 [here][1]
* **Version 5** is the same as version 4 but 2x faster co-visitation matrix computation! (and 3x faster than version 1)
* **Version 6** Stay tuned for more versions...

[1]: https://www.kaggle.com/code/cdeotte/compute-validation-score-cv-564

# Step 1 - Candidate Generation with RAPIDS
For candidate generation, we build three co-visitation matrices. One computes the popularity of cart/order given a user's previous click/cart/order. We apply type weighting to this matrix. One computes the popularity of cart/order given a user's previous cart/order. We call this "buy2buy" matrix. One computes the popularity of clicks given a user previously click/cart/order.  We apply time weighting to this matrix. We will use RAPIDS cuDF GPU to compute these matrices quickly!

In [6]:
VER = 5

import pandas as pd, numpy as np
from tqdm.notebook import tqdm
import os, sys, pickle, glob, gc
from collections import Counter
import cudf, itertools

print('We will use RAPIDS version',cudf.__version__)

We will use RAPIDS version 21.10.01

## Compute Three Co-visitation Matrices with RAPIDS
We will compute 3 co-visitation matrices using RAPIDS cuDF on GPU. This is 30x faster than using Pandas CPU like other public notebooks! For maximum speed, set the variable `DISK_PIECES` to the smallest number possible based on the GPU you are using without incurring memory errors. If you run this code offline with 32GB GPU ram, then you can use `DISK_PIECES = 1` and compute each co-visitation matrix in almost 1 minute! Kaggle's GPU only has 16GB ram, so we use `DISK_PIECES = 4` and it takes an amazing 3 minutes each! Below are some of the tricks to speed up computation
* Use RAPIDS cuDF GPU instead of Pandas CPU
* Read disk once and save in CPU RAM for later GPU multiple use
* Process largest amount of data possible on GPU at one time
* Merge data in two stages. Multiple small to single medium. Multiple medium to single large.
* Write result as parquet instead of dictionary

In [7]:
# CACHE FUNCTIONS
def read_file(f):
    return cudf.DataFrame( data_cache[f] )
def read_file_to_cache(f):
    df = pd.read_parquet(f)
    df.ts = (df.ts/1000).astype('int32')
    df['type'] = df['type'].map(type_labels).astype('int8')
    return df

In [8]:
%%time

# CACHE THE DATA ON CPU BEFORE PROCESSING ON GPU
data_cache = {}
type_labels = {'clicks':0, 'carts':1, 'orders':2}
files = glob.glob('../input/otto-chunk-data-inparquet-format/*_parquet/*')
for f in files: 
    data_cache[f] = read_file_to_cache(f)

# CHUNK PARAMETERS
READ_CT = 5
CHUNK = int(np.ceil(len(files)/6))
print(f'We will process {len(files)} files, in groups of {READ_CT} and chunks of {CHUNK}.')

We will process 146 files, in groups of 5 and chunks of 25.
CPU times: user 45.4 s, sys: 6.22 s, total: 51.6 s
Wall time: 39.5 s

In [9]:
print(len(data_cache))
example = data_cache['../input/otto-chunk-data-inparquet-format/test_parquet/000200000_000300000.parquet']
example

146

         session      aid          ts  type
0       13099779   245308  1661795832     0
1       13099779   245308  1661795862     1
2       13099779   972319  1661795888     0
3       13099779   972319  1661795898     1
4       13099779   245308  1661795907     0
...          ...      ...         ...   ...
431765  13199776  1304468  1661838618     0
431766  13199776  1304468  1661838699     0
431767  13199777   182264  1661837287     0
431768  13199778   968732  1661837287     0
431769  13199778   808853  1661971271     0

[431770 rows x 4 columns]

In [10]:
example['type'].value_counts() #0: clicks, 1: carts, 2: orders

0    394426
1     32764
2      4580
Name: type, dtype: int64

## 1) "Carts Orders" Co-visitation Matrix - Type Weighted

In [6]:
a = 0
b = 25
CHUNK = 25
READ_CT = 5
k = 0

df = [read_file(files[k])]
for i in range(1,READ_CT): 
    if k+i<b: df.append(read_file(files[k+i]))

In [7]:
df = cudf.concat(df,ignore_index=True,axis=0)
df

          session      aid          ts  type
0        13099779   245308  1661795832     0
1        13099779   245308  1661795862     1
2        13099779   972319  1661795888     0
3        13099779   972319  1661795898     1
4        13099779   245308  1661795907     0
...           ...      ...         ...   ...
2144806  13799777  1527075  1662240808     0
2144807  13799777   453029  1662240843     0
2144808  13799778   789461  1662034075     0
2144809  13799778   226925  1662055848     0
2144810  13799778  1395291  1662062238     0

[2144811 rows x 4 columns]

In [8]:
df = df.sort_values(['session','ts'],ascending=[True,False])
df

/opt/conda/lib/python3.7/site-packages/cudf/core/frame.py:2600: UserWarning: When using a sequence of booleans for `ascending`, `na_position` flag is not yet supported and defaults to treating nulls as greater than all numbers
  "When using a sequence of booleans for `ascending`, "

          session      aid          ts  type
1236043  12899779    59625  1661724000     0
1236048  12899780  1142000  1661724155     0
1236047  12899780   736515  1661724136     0
1236046  12899780   973453  1661724109     0
1236045  12899780   582732  1661724058     0
...           ...      ...         ...   ...
1236042  14299778  1067477  1662233348     0
1236041  14299778   123881  1662233339     0
1236040  14299778  1067477  1662233317     0
1236039  14299778   123881  1662233262     0
1236038  14299778  1067477  1662233248     0

[2144811 rows x 4 columns]

In [9]:
df = df.reset_index(drop=True)
df

          session      aid          ts  type
0        12899779    59625  1661724000     0
1        12899780  1142000  1661724155     0
2        12899780   736515  1661724136     0
3        12899780   973453  1661724109     0
4        12899780   582732  1661724058     0
...           ...      ...         ...   ...
2144806  14299778  1067477  1662233348     0
2144807  14299778   123881  1662233339     0
2144808  14299778  1067477  1662233317     0
2144809  14299778   123881  1662233262     0
2144810  14299778  1067477  1662233248     0

[2144811 rows x 4 columns]

In [10]:
df['n'] = df.groupby('session').cumcount()
df

          session      aid          ts  type  n
0        12899779    59625  1661724000     0  0
1        12899780  1142000  1661724155     0  0
2        12899780   736515  1661724136     0  1
3        12899780   973453  1661724109     0  2
4        12899780   582732  1661724058     0  3
...           ...      ...         ...   ... ..
2144806  14299778  1067477  1662233348     0  0
2144807  14299778   123881  1662233339     0  1
2144808  14299778  1067477  1662233317     0  2
2144809  14299778   123881  1662233262     0  3
2144810  14299778  1067477  1662233248     0  4

[2144811 rows x 5 columns]

In [11]:
# session: user
# aid: product
# ts: timestamp
# type: click, cart, order

df = df.loc[df.n<30].drop('n',axis=1)  # most recent 30 records
df

          session      aid          ts  type
0        12899779    59625  1661724000     0
1        12899780  1142000  1661724155     0
2        12899780   736515  1661724136     0
3        12899780   973453  1661724109     0
4        12899780   582732  1661724058     0
...           ...      ...         ...   ...
2144806  14299778  1067477  1662233348     0
2144807  14299778   123881  1662233339     0
2144808  14299778  1067477  1662233317     0
2144809  14299778   123881  1662233262     0
2144810  14299778  1067477  1662233248     0

[1954519 rows x 4 columns]

In [12]:
df = df.merge(df,on='session') # create pairwise "aid" for within session
df

           session    aid_x        ts_x  type_x    aid_y        ts_y  type_y
0         12903682   898033  1662143693       0   898033  1662143693       0
1         12903685   133288  1661726634       0  1596300  1661768366       1
2         12903683   163343  1661726203       0   263840  1661726609       0
3         12903685   874837  1661726166       0  1596300  1661768366       1
4         12903682   967889  1662143682       0   898033  1662143693       0
...            ...      ...         ...     ...      ...         ...     ...
22757060  14298613   380163  1662234568       0   365576  1662233579       0
22757061  14298613  1250235  1662233658       0   365576  1662233579       0
22757062  14298613   365576  1662233648       0   365576  1662233579       0
22757063  14298613   877593  1662233640       0   365576  1662233579       0
22757064  14298613   365576  1662233579       0   365576  1662233579       0

[22757065 rows x 7 columns]

In [13]:
df = df.loc[((df.ts_x - df.ts_y).abs()< 24 * 60 * 60) & (df.aid_x != df.aid_y)]  # only keep paired different aids within 24 hours
df

           session    aid_x        ts_x  type_x    aid_y        ts_y  type_y
1         12903685   133288  1661726634       0  1596300  1661768366       1
2         12903683   163343  1661726203       0   263840  1661726609       0
3         12903685   874837  1661726166       0  1596300  1661768366       1
4         12903682   967889  1662143682       0   898033  1662143693       0
5         12903685   620624  1661726632       0  1596300  1661768366       1
...            ...      ...         ...     ...      ...         ...     ...
22757057  14298613   365576  1662233648       0   877593  1662233640       0
22757059  14298613   365576  1662233579       0   877593  1662233640       0
22757060  14298613   380163  1662234568       0   365576  1662233579       0
22757061  14298613  1250235  1662233658       0   365576  1662233579       0
22757063  14298613   877593  1662233640       0   365576  1662233579       0

[17073296 rows x 7 columns]

In [15]:
PART = 0
DISK_PIECES = 4
SIZE = 1.86e6/DISK_PIECES
SIZE

465000.0

In [16]:
df = df.loc[(df.aid_x >= PART*SIZE)&(df.aid_x < (PART+1)*SIZE)]
df

           session   aid_x        ts_x  type_x    aid_y        ts_y  type_y
1         12903685  133288  1661726634       0  1596300  1661768366       1
2         12903683  163343  1661726203       0   263840  1661726609       0
7         12903685  135009  1661725994       0  1596300  1661768366       1
9         12903685  133288  1661726622       0  1596300  1661768366       1
11        12903686  330988  1661803065       0   467799  1661802804       0
...            ...     ...         ...     ...      ...         ...     ...
22757050  14298613  380163  1662234568       0   365576  1662233648       0
22757055  14298613  380163  1662234568       0   877593  1662233640       0
22757057  14298613  365576  1662233648       0   877593  1662233640       0
22757059  14298613  365576  1662233579       0   877593  1662233640       0
22757060  14298613  380163  1662234568       0   365576  1662233579       0

[4282640 rows x 7 columns]

In [17]:
type_weight = {0:1, 1:6, 2:3}

df = df[['session', 'aid_x', 'aid_y','type_y']].drop_duplicates(['session', 'aid_x', 'aid_y'])
df['wgt'] = df.type_y.map(type_weight)
df = df[['aid_x','aid_y','wgt']]
df.wgt = df.wgt.astype('float32')
df

           aid_x    aid_y  wgt
513645     57315   141736  1.0
265490     57315   194067  1.0
14000      57315   199008  1.0
265493    141736    57315  1.0
265482    141736   194067  1.0
...          ...      ...  ...
22592330  160071  1493786  1.0
22640683  160071  1850100  1.0
22592283  326064   959208  1.0
22698308  215458  1139956  1.0
22698291  123881  1067477  1.0

[2145982 rows x 3 columns]

In [18]:
df = df.groupby(['aid_x','aid_y']).wgt.sum()  # group paired aids across sessions (or users)
df

aid_x   aid_y
103769  1073558    1.0
67288   1403864    6.0
135720  1105583    1.0
298474  1828161    1.0
37103   604433     1.0
                  ...
410541  1318574    2.0
321559  767330     1.0
72484   569706     1.0
277447  1089258    1.0
244382  391743     1.0
Name: wgt, Length: 1936643, dtype: float32

In [19]:
type(df)

cudf.core.series.Series

In [11]:
%%time

type_weight = {0:1, 1:6, 2:3}

# USE SMALLEST DISK_PIECES POSSIBLE WITHOUT MEMORY ERROR
DISK_PIECES = 4
SIZE = 1.86e6/DISK_PIECES

# COMPUTE IN PARTS FOR MEMORY MANAGEMENT
for PART in range(DISK_PIECES):
    print()
    print('### DISK PART',PART+1)
    
    # MERGE IS FASTEST PROCESSING CHUNKS WITHIN CHUNKS
    
    # => OUTER CHUNKS
    for j in range(6):
        a = j*CHUNK  # CHUNK=25
        b = min((j+1)*CHUNK, len(files))
        print(f'Processing files {a} thru {b-1} in groups of {READ_CT}...')
        
        # => INNER CHUNKS
        for k in range(a,b,READ_CT): # READ_CT=5
            
            # READ FILE
            df = [read_file(files[k])]
            for i in range(1,READ_CT): 
                if k+i<b: df.append(read_file(files[k+i]))
            df = cudf.concat(df,ignore_index=True,axis=0)
            df = df.sort_values(['session','ts'],ascending=[True,False])
            
            # USE TAIL OF SESSION
            df = df.reset_index(drop=True)
            df['n'] = df.groupby('session').cumcount()
            df = df.loc[df.n<30].drop('n',axis=1)
            
            # CREATE PAIRS
            df = df.merge(df,on='session')
            df = df.loc[((df.ts_x - df.ts_y).abs()< 24 * 60 * 60) & (df.aid_x != df.aid_y)]
            
            # MEMORY MANAGEMENT COMPUTE IN PARTS
            df = df.loc[(df.aid_x >= PART*SIZE)&(df.aid_x < (PART+1)*SIZE)]
            
            # ASSIGN WEIGHTS
            df = df[['session', 'aid_x', 'aid_y','type_y']].drop_duplicates(['session', 'aid_x', 'aid_y'])
            df['wgt'] = df.type_y.map(type_weight)
            df = df[['aid_x','aid_y','wgt']]
            df.wgt = df.wgt.astype('float32')
            df = df.groupby(['aid_x','aid_y']).wgt.sum()
            
            # COMBINE INNER CHUNKS
            if k==a: tmp2 = df
            else: tmp2 = tmp2.add(df, fill_value=0)
            print(k,', ',end='')
        print()
        
        # COMBINE OUTER CHUNKS
        if a==0: tmp = tmp2
        else: tmp = tmp.add(tmp2, fill_value=0)
        del tmp2, df
        gc.collect()
        
    # CONVERT MATRIX TO DICTIONARY
    tmp = tmp.reset_index()
    tmp = tmp.sort_values(['aid_x','wgt'],ascending=[True,False])
    # SAVE TOP 40
    tmp = tmp.reset_index(drop=True)
    tmp['n'] = tmp.groupby('aid_x').aid_y.cumcount()
    tmp = tmp.loc[tmp.n<15].drop('n',axis=1)
    # SAVE PART TO DISK (convert to pandas first uses less memory)
    tmp.to_pandas().to_parquet(f'top_15_carts_orders_v{VER}_{PART}.pqt')

### DISK PART 1
Processing files 0 thru 24 in groups of 5...

/opt/conda/lib/python3.7/site-packages/cudf/core/frame.py:2600: UserWarning: When using a sequence of booleans for `ascending`, `na_position` flag is not yet supported and defaults to treating nulls as greater than all numbers
  "When using a sequence of booleans for `ascending`, "

0 , 5 , 10 , 15 , 20 ,
Processing files 25 thru 49 in groups of 5...
25 , 30 , 35 , 40 , 45 ,
Processing files 50 thru 74 in groups of 5...
50 , 55 , 60 , 65 , 70 ,
Processing files 75 thru 99 in groups of 5...
75 , 80 , 85 , 90 , 95 ,
Processing files 100 thru 124 in groups of 5...
100 , 105 , 110 , 115 , 120 ,
Processing files 125 thru 145 in groups of 5...
125 , 130 , 135 , 140 , 145 ,

### DISK PART 2
Processing files 0 thru 24 in groups of 5...
0 , 5 , 10 , 15 , 20 ,
Processing files 25 thru 49 in groups of 5...
25 , 30 , 35 , 40 , 45 ,
Processing files 50 thru 74 in groups of 5...
50 , 55 , 60 , 65 , 70 ,
Processing files 75 thru 99 in groups of 5...
75 , 80 , 85 , 90 , 95 ,
Processing files 100 thru 124 in groups of 5...
100 , 105 , 110 , 115 , 120 ,
Processing files 125 thru 145 in groups of 5...
125 , 130 , 135 , 140 , 145 ,

### DISK PART 3
Processing files 0 thru 24 in groups of 5...
0 , 5 , 10 , 15 , 20 ,
Processing files 25 thru 49 in groups of 5...
25 , 30 , 35 , 40 , 45 ,
Processing files 50 thru 74 in groups of 5...
50 , 55 , 60 , 65 , 70 ,
Processing files 75 thru 99 in groups of 5...
75 , 80 , 85 , 90 , 95 ,
Processing files 100 thru 124 in groups of 5...
100 , 105 , 110 , 115 , 120 ,
Processing files 125 thru 145 in groups of 5...
125 , 130 , 135 , 140 , 145 ,

### DISK PART 4
Processing files 0 thru 24 in groups of 5...
0 , 5 , 10 , 15 , 20 ,
Processing files 25 thru 49 in groups of 5...
25 , 30 , 35 , 40 , 45 ,
Processing files 50 thru 74 in groups of 5...
50 , 55 , 60 , 65 , 70 ,
Processing files 75 thru 99 in groups of 5...
75 , 80 , 85 , 90 , 95 ,
Processing files 100 thru 124 in groups of 5...
100 , 105 , 110 , 115 , 120 ,
Processing files 125 thru 145 in groups of 5...
125 , 130 , 135 , 140 , 145 ,
CPU times: user 2min 8s, sys: 1min 9s, total: 3min 18s
Wall time: 3min 19s

## 2) "Buy2Buy" Co-visitation Matrix

In [ ]:
%%time
# USE SMALLEST DISK_PIECES POSSIBLE WITHOUT MEMORY ERROR
DISK_PIECES = 1
SIZE = 1.86e6/DISK_PIECES

# COMPUTE IN PARTS FOR MEMORY MANGEMENT
for PART in range(DISK_PIECES):
    print()
    print('### DISK PART',PART+1)
    
    # MERGE IS FASTEST PROCESSING CHUNKS WITHIN CHUNKS
    # => OUTER CHUNKS
    for j in range(6):
        a = j*CHUNK
        b = min( (j+1)*CHUNK, len(files) )
        print(f'Processing files {a} thru {b-1} in groups of {READ_CT}...')
        
        # => INNER CHUNKS
        for k in range(a,b,READ_CT):
            # READ FILE
            df = [read_file(files[k])]
            for i in range(1,READ_CT): 
                if k+i<b: df.append( read_file(files[k+i]) )
            df = cudf.concat(df,ignore_index=True,axis=0)
            df = df.loc[df['type'].isin([1,2])] # ONLY WANT CARTS AND ORDERS
            df = df.sort_values(['session','ts'],ascending=[True,False])
            # USE TAIL OF SESSION
            df = df.reset_index(drop=True)
            df['n'] = df.groupby('session').cumcount()
            df = df.loc[df.n<30].drop('n',axis=1)
            # CREATE PAIRS
            df = df.merge(df,on='session')
            df = df.loc[ ((df.ts_x - df.ts_y).abs()< 14 * 24 * 60 * 60) & (df.aid_x != df.aid_y) ] # 14 DAYS
            # MEMORY MANAGEMENT COMPUTE IN PARTS
            df = df.loc[(df.aid_x >= PART*SIZE)&(df.aid_x < (PART+1)*SIZE)]
            # ASSIGN WEIGHTS
            df = df[['session', 'aid_x', 'aid_y','type_y']].drop_duplicates(['session', 'aid_x', 'aid_y'])
            df['wgt'] = 1
            df = df[['aid_x','aid_y','wgt']]
            df.wgt = df.wgt.astype('float32')
            df = df.groupby(['aid_x','aid_y']).wgt.sum()
            # COMBINE INNER CHUNKS
            if k==a: tmp2 = df
            else: tmp2 = tmp2.add(df, fill_value=0)
            print(k,', ',end='')
        print()
        # COMBINE OUTER CHUNKS
        if a==0: tmp = tmp2
        else: tmp = tmp.add(tmp2, fill_value=0)
        del tmp2, df
        gc.collect()
    # CONVERT MATRIX TO DICTIONARY
    tmp = tmp.reset_index()
    tmp = tmp.sort_values(['aid_x','wgt'],ascending=[True,False])
    # SAVE TOP 40
    tmp = tmp.reset_index(drop=True)
    tmp['n'] = tmp.groupby('aid_x').aid_y.cumcount()
    tmp = tmp.loc[tmp.n<15].drop('n',axis=1)
    # SAVE PART TO DISK (convert to pandas first uses less memory)
    tmp.to_pandas().to_parquet(f'top_15_buy2buy_v{VER}_{PART}.pqt')

## 3) "Clicks" Co-visitation Matrix - Time Weighted

In [ ]:
%%time
# USE SMALLEST DISK_PIECES POSSIBLE WITHOUT MEMORY ERROR
DISK_PIECES = 4
SIZE = 1.86e6/DISK_PIECES

# COMPUTE IN PARTS FOR MEMORY MANGEMENT
for PART in range(DISK_PIECES):
    print()
    print('### DISK PART',PART+1)
    
    # MERGE IS FASTEST PROCESSING CHUNKS WITHIN CHUNKS
    # => OUTER CHUNKS
    for j in range(6):
        a = j*CHUNK
        b = min( (j+1)*CHUNK, len(files) )
        print(f'Processing files {a} thru {b-1} in groups of {READ_CT}...')
        
        # => INNER CHUNKS
        for k in range(a,b,READ_CT):
            # READ FILE
            df = [read_file(files[k])]
            for i in range(1,READ_CT): 
                if k+i<b: df.append( read_file(files[k+i]) )
            df = cudf.concat(df,ignore_index=True,axis=0)
            df = df.sort_values(['session','ts'],ascending=[True,False])
            # USE TAIL OF SESSION
            df = df.reset_index(drop=True)
            df['n'] = df.groupby('session').cumcount()
            df = df.loc[df.n<30].drop('n',axis=1)
            # CREATE PAIRS
            df = df.merge(df,on='session')
            df = df.loc[ ((df.ts_x - df.ts_y).abs()< 24 * 60 * 60) & (df.aid_x != df.aid_y) ]
            # MEMORY MANAGEMENT COMPUTE IN PARTS
            df = df.loc[(df.aid_x >= PART*SIZE)&(df.aid_x < (PART+1)*SIZE)]
            # ASSIGN WEIGHTS
            df = df[['session', 'aid_x', 'aid_y','ts_x']].drop_duplicates(['session', 'aid_x', 'aid_y'])
            df['wgt'] = 1 + 3*(df.ts_x - 1659304800)/(1662328791-1659304800)
            df = df[['aid_x','aid_y','wgt']]
            df.wgt = df.wgt.astype('float32')
            df = df.groupby(['aid_x','aid_y']).wgt.sum()
            # COMBINE INNER CHUNKS
            if k==a: tmp2 = df
            else: tmp2 = tmp2.add(df, fill_value=0)
            print(k,', ',end='')
        print()
        # COMBINE OUTER CHUNKS
        if a==0: tmp = tmp2
        else: tmp = tmp.add(tmp2, fill_value=0)
        del tmp2, df
        gc.collect()
    # CONVERT MATRIX TO DICTIONARY
    tmp = tmp.reset_index()
    tmp = tmp.sort_values(['aid_x','wgt'],ascending=[True,False])
    # SAVE TOP 40
    tmp = tmp.reset_index(drop=True)
    tmp['n'] = tmp.groupby('aid_x').aid_y.cumcount()
    tmp = tmp.loc[tmp.n<20].drop('n',axis=1)
    # SAVE PART TO DISK (convert to pandas first uses less memory)
    tmp.to_pandas().to_parquet(f'top_20_clicks_v{VER}_{PART}.pqt')

In [ ]:
# FREE MEMORY
del data_cache, tmp
_ = gc.collect()

# Step 2 - ReRank (choose 20) using handcrafted rules
For description of the handcrafted rules, read this notebook's intro.

In [ ]:
def load_test():    
    dfs = []
    for e, chunk_file in enumerate(glob.glob('../input/otto-chunk-data-inparquet-format/test_parquet/*')):
        chunk = pd.read_parquet(chunk_file)
        chunk.ts = (chunk.ts/1000).astype('int32')
        chunk['type'] = chunk['type'].map(type_labels).astype('int8')
        dfs.append(chunk)
    return pd.concat(dfs).reset_index(drop=True) #.astype({"ts": "datetime64[ms]"})

test_df = load_test()
print('Test data has shape',test_df.shape)
test_df.head()

In [ ]:
%%time
def pqt_to_dict(df):
    return df.groupby('aid_x').aid_y.apply(list).to_dict()
# LOAD THREE CO-VISITATION MATRICES
top_20_clicks = pqt_to_dict( pd.read_parquet(f'top_20_clicks_v{VER}_0.pqt') )
for k in range(1,DISK_PIECES): 
    top_20_clicks.update( pqt_to_dict( pd.read_parquet(f'top_20_clicks_v{VER}_{k}.pqt') ) )
top_20_buys = pqt_to_dict( pd.read_parquet(f'top_15_carts_orders_v{VER}_0.pqt') )
for k in range(1,DISK_PIECES): 
    top_20_buys.update( pqt_to_dict( pd.read_parquet(f'top_15_carts_orders_v{VER}_{k}.pqt') ) )
top_20_buy2buy = pqt_to_dict( pd.read_parquet(f'top_15_buy2buy_v{VER}_0.pqt') )

# TOP CLICKS AND ORDERS IN TEST
top_clicks = test_df.loc[test_df['type']=='clicks','aid'].value_counts().index.values[:20]
top_orders = test_df.loc[test_df['type']=='orders','aid'].value_counts().index.values[:20]

print('Here are size of our 3 co-visitation matrices:')
print( len( top_20_clicks ), len( top_20_buy2buy ), len( top_20_buys ) )

In [ ]:
#type_weight_multipliers = {'clicks': 1, 'carts': 6, 'orders': 3}
type_weight_multipliers = {0: 1, 1: 6, 2: 3}

def suggest_clicks(df):
    # USER HISTORY AIDS AND TYPES
    aids=df.aid.tolist()
    types = df.type.tolist()
    unique_aids = list(dict.fromkeys(aids[::-1] ))
    # RERANK CANDIDATES USING WEIGHTS
    if len(unique_aids)>=20:
        weights=np.logspace(0.1,1,len(aids),base=2, endpoint=True)-1
        aids_temp = Counter() 
        # RERANK BASED ON REPEAT ITEMS AND TYPE OF ITEMS
        for aid,w,t in zip(aids,weights,types): 
            aids_temp[aid] += w * type_weight_multipliers[t]
        sorted_aids = [k for k,v in aids_temp.most_common(20)]
        return sorted_aids
    # USE "CLICKS" CO-VISITATION MATRIX
    aids2 = list(itertools.chain(*[top_20_clicks[aid] for aid in unique_aids if aid in top_20_clicks]))
    # RERANK CANDIDATES
    top_aids2 = [aid2 for aid2, cnt in Counter(aids2).most_common(20) if aid2 not in unique_aids]    
    result = unique_aids + top_aids2[:20 - len(unique_aids)]
    # USE TOP20 TEST CLICKS
    return result + list(top_clicks)[:20-len(result)]

def suggest_buys(df):
    # USER HISTORY AIDS AND TYPES
    aids=df.aid.tolist()
    types = df.type.tolist()
    # UNIQUE AIDS AND UNIQUE BUYS
    unique_aids = list(dict.fromkeys(aids[::-1] ))
    df = df.loc[(df['type']==1)|(df['type']==2)]
    unique_buys = list(dict.fromkeys( df.aid.tolist()[::-1] ))
    # RERANK CANDIDATES USING WEIGHTS
    if len(unique_aids)>=20:
        weights=np.logspace(0.5,1,len(aids),base=2, endpoint=True)-1
        aids_temp = Counter() 
        # RERANK BASED ON REPEAT ITEMS AND TYPE OF ITEMS
        for aid,w,t in zip(aids,weights,types): 
            aids_temp[aid] += w * type_weight_multipliers[t]
        # RERANK CANDIDATES USING "BUY2BUY" CO-VISITATION MATRIX
        aids3 = list(itertools.chain(*[top_20_buy2buy[aid] for aid in unique_buys if aid in top_20_buy2buy]))
        for aid in aids3: aids_temp[aid] += 0.1
        sorted_aids = [k for k,v in aids_temp.most_common(20)]
        return sorted_aids
    # USE "CART ORDER" CO-VISITATION MATRIX
    aids2 = list(itertools.chain(*[top_20_buys[aid] for aid in unique_aids if aid in top_20_buys]))
    # USE "BUY2BUY" CO-VISITATION MATRIX
    aids3 = list(itertools.chain(*[top_20_buy2buy[aid] for aid in unique_buys if aid in top_20_buy2buy]))
    # RERANK CANDIDATES
    top_aids2 = [aid2 for aid2, cnt in Counter(aids2+aids3).most_common(20) if aid2 not in unique_aids] 
    result = unique_aids + top_aids2[:20 - len(unique_aids)]
    # USE TOP20 TEST ORDERS
    return result + list(top_orders)[:20-len(result)]

# Create Submission CSV
Inferring test data with Pandas groupby is slow. We need to accelerate the following code.

In [ ]:
%%time
pred_df_clicks = test_df.sort_values(["session", "ts"]).groupby(["session"]).apply(
    lambda x: suggest_clicks(x)
)

pred_df_buys = test_df.sort_values(["session", "ts"]).groupby(["session"]).apply(
    lambda x: suggest_buys(x)
)

In [ ]:
clicks_pred_df = pd.DataFrame(pred_df_clicks.add_suffix("_clicks"), columns=["labels"]).reset_index()
orders_pred_df = pd.DataFrame(pred_df_buys.add_suffix("_orders"), columns=["labels"]).reset_index()
carts_pred_df = pd.DataFrame(pred_df_buys.add_suffix("_carts"), columns=["labels"]).reset_index()

In [ ]:
pred_df = pd.concat([clicks_pred_df, orders_pred_df, carts_pred_df])
pred_df.columns = ["session_type", "labels"]
pred_df["labels"] = pred_df.labels.apply(lambda x: " ".join(map(str,x)))
pred_df.to_csv("submission.csv", index=False)
pred_df.head()